[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
django-filter = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
gunicorn = "*"
ipython = "*"

[dev-packages]
yapf = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
superuser = "python ./src/manage.py createsuperuser"
make = "python ./src/manage.py makemigrations"
migrate = "python ./src/manage.py migrate"
server = "python ./src/manage.py runserver"
